* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}

.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.header {
	height: 70px;
	background: #2b2b2b;
}

.content {
	padding: 80px 10px 80px;
}

.footer {
	margin: -60px auto 0;
	min-width: 1000px;
	height: 60px;
	background: #2b2b2b;
	position: relative;
}

.cwd {
	text-align:right;
}

.cwda {
	display: inline-block;
	cursor: pointer; 
	font-size:20px;  
	text-decoration: none; 
	padding:10px 39px; 
	color:#ffffff; 
	background-color:#2b2b2b; 
	border-radius:60px; 
	border: 2px solid #2b2b2b;
	font-family:Courier New,Courier,monospace
}

td, th {
	padding: 3px;
	height: 50px;
}

.cwda:hover {
	background-color:#ffffff;
	color:#000000;
}

input {
	width: 70px;
	height: 30px;
	font-size: 16px;
	font-family:Courier New,Courier,monospace;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

body {
	background: #c7b39b url(screensaver.jpg);
	background-size: 100%;
    color: #fff;
   }